{% extends 'master.html' %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-8">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Names</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Gender</th>
                        <th>Delete</th>
                        <th>details</th>
                        <th>Dob</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for customer in data %}
                        <tr>
                            <td>{{ customer.id }}</td>
                            <td>{{ customer.names }}</td>
                            <td>{{ customer.email }}</td>
                            <td>{{ customer.phone }}</td>
                            <td>{{ customer.gender }}</td>
                            <td>
                                <a class="btn btn-sm btn-danger" href="/delete/{{ customer.id }}">Remove</a>
                            </td>
                        <td>
                            <a class="btn btn-sm btn-success" href="/details/{{ customer.id }}">Details</a>
                        </td>
                        <td>{{ customer.dob }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}